
// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background-color: $body-bg;
  font-family: $font-family-sans-serif;
  color: $text-color;
}

nav {
  background-color: $navbar-default-bg;
  border-radius: 10px;
  border: 1px $navbar-default-border;
}

.container {
  width: 750px;
}